.md-typeset div.arithmatex  {
    overflow: initial;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details {
    font-size: 0.8rem;
}

/*h1::before {
    content : "Chapitre ";
}*/

/* .enumerate-heading-plugin::after {
    content : "⤅";
} */

.center {
    display: block;
    margin: 0 auto;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
    transform: scale(1);
    }
    20%, 60% {
    transform: scale(1.1);
    }
} 
.heart {
    animation: heart 1000ms infinite; 
    color:firebrick;
}

@keyframes shuttle {
    /* 0%, 40%, 80%, 100% {
    transform: scale(1);
    }
    20%, 60% {
    transform: scale(1.1);
    } */
    from {
        left:0%;
        bottom:0%
      }
    
      to {
        left:22px;
        bottom:50%;
      }
}

.shuttle {
    animation: shuttle 1000ms infinite;
    color:firebrick;
}

:root {
    --md-admonition-icon--conclu: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>');
    --md-admonition-icon--ext: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m13.13 22.19-1.63-3.83c1.57-.58 3.04-1.36 4.4-2.27l-2.77 6.1M5.64 12.5l-3.83-1.63 6.1-2.77C7 9.46 6.22 10.93 5.64 12.5M19.22 4c.28 0 .53 0 .74.05.17 1.39-.02 4.25-3.3 7.53-1.7 1.71-3.73 3.02-6.01 3.89l-2.15-2.1c.92-2.31 2.23-4.34 3.92-6.03C15.18 4.58 17.64 4 19.22 4m0-2c-1.98 0-4.98.69-8.22 3.93-2.19 2.19-3.5 4.6-4.35 6.71-.28.75-.09 1.57.46 2.13l2.13 2.12c.38.38.89.61 1.42.61.23 0 .47-.06.7-.15A19.1 19.1 0 0 0 18.07 13c5.66-5.66 3.54-10.61 3.54-10.61S20.7 2 19.22 2m-4.68 7.46c-.78-.78-.78-2.05 0-2.83s2.05-.78 2.83 0c.77.78.78 2.05 0 2.83-.78.78-2.05.78-2.83 0m-5.66 7.07-1.41-1.41 1.41 1.41M6.24 22l3.64-3.64c-.34-.09-.67-.24-.97-.45L4.83 22h1.41M2 22h1.41l4.77-4.76-1.42-1.41L2 20.59V22m0-2.83 4.09-4.08c-.21-.3-.36-.62-.45-.97L2 17.76v1.41z"/></svg>')
    }

    .md-typeset .admonition.conclu,
    .md-typeset details.conclu {
    border-color: rgb(219, 16, 16);
    }
    .md-typeset .conclu > .admonition-title,
    .md-typeset .conclu > summary {
    background-color: rgba(185, 27, 101, 0.1);
    border-color: rgb(219, 16, 16);
    }
    .md-typeset .conclu > .admonition-title::before,
    .md-typeset .conclu > summary::before {
    background-color: rgb(219, 16, 16);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--conclu);
            mask-image: var(--md-admonition-icon--conclu);
    }

    .md-typeset .admonition.ext,
    .md-typeset details.ext {
    border-color: rgb(219, 16, 16);
    }
    .md-typeset .ext > .admonition-title,
    .md-typeset .ext > summary {
    background-color: rgba(185, 27, 101, 0.1);
    border-color: rgb(219, 16, 16);
    }
    .md-typeset .ext > .admonition-title::before,
    .md-typeset .ext > summary::before {
    background-color: rgb(219, 16, 16);
    animation: shuttle 2000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--ext);
            mask-image: var(--md-admonition-icon--ext);
    }

:root {
    --md-admonition-icon--aide: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm173.696 119.559-63.399 63.399c-10.987-18.559-26.67-34.252-45.255-45.255l63.399-63.399a218.396 218.396 0 0 1 45.255 45.255zM256 352c-53.019 0-96-42.981-96-96s42.981-96 96-96 96 42.981 96 96-42.981 96-96 96zM127.559 82.304l63.399 63.399c-18.559 10.987-34.252 26.67-45.255 45.255l-63.399-63.399a218.372 218.372 0 0 1 45.255-45.255zM82.304 384.441l63.399-63.399c10.987 18.559 26.67 34.252 45.255 45.255l-63.399 63.399a218.396 218.396 0 0 1-45.255-45.255zm302.137 45.255-63.399-63.399c18.559-10.987 34.252-26.67 45.255-45.255l63.399 63.399a218.403 218.403 0 0 1-45.255 45.255z"/></svg>')
    }
    .md-typeset .admonition.aide,
    .md-typeset details.aide {
    border-color: rgb(77, 146, 77);
    }
    .md-typeset .aide > .admonition-title,
    .md-typeset .aide > summary {
    background-color: rgba(77, 146, 77, 0.1);
    border-color: rgb(77, 146, 77);
    }
    .md-typeset .aide > .admonition-title::before,
    .md-typeset .rappel > summary::before {
    background-color: rgb(77, 146, 77);
    -webkit-mask-image: var(--md-admonition-icon--aide);
            mask-image: var(--md-admonition-icon--aide);
      }